
.ReusableButton {
    margin: 13px auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100px;
    min-width: 300px;
    display: flex;
    justify-content: center; 
}

.AdditionalOptionButton {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    float: right;
}
