
.HomepageButton {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-left: 10px;
}
.ButtonSizing {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}
